@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800');

body {
	background-color: #edeef2;
	color: #343a4c;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 4vw;
	font-weight: 800;
}

.header {
	display: flex;
	margin-left: 2.5%;
}

h1 {
	font-size: 7vw;
	margin-bottom: 0%;
	margin-top: 7.5%;
	margin-left: 7.5%;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 800;
}

h2 {
	font-size: 4vw;
	margin-top: 0%;
	margin-left: 7.5%;
	font-weight: 700;
} 

.image img {
	width: 35%;
	margin-top: 35%;
	margin-left: 10%;
}

.title {
	width: 75%;
}

.image {
	flex: 1;
}

.journey { 
	grid-area: one; 
	padding: 7.5% 5% 0% 10%;
}

.speed { 
	grid-area: two; 
	padding: 7.5% 5% 0% 10%;
}

.temperature { 
	grid-area: three; 
	padding: 7.5% 5% 0% 10%;
}

.grid-container {
	display: grid;
	grid-template-areas:
    	'one'
    	'two'
   		'three';
	grid-gap: 2.5%;
	padding: 7.5%;
}

.grid-container > div {
	background-color: white;
}

.percent {
	background-color: #edeef2;
	width: 10%;
	padding: 2% 5% 2% 3%;
	margin-left: 60%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #edeef2;
  margin-left: 66%;
}

.progress {
    background: #edeef2;
    border-radius: 1000px;
    height: 4vw;
    width: 95%;
    margin-top: 5%;
}

.progress:after {
    content: '';
    display: block;
    background-image: linear-gradient(to right, #ff0084, #7641ff, #1fa5ff);
    width: 70%;
    height: 4vw;
    border-radius: 1000px;
}

.rocket {
	width: 13.5%;
	transform: rotate(90deg);
	margin-left: 62.5%;
	margin-top: -8.7vw;
	margin-bottom: 5%;
}

p {
	float: right;
	margin-right: 5%;
	margin-bottom: 0%;
}

.wrap1, .wrap2 {
  width: 95%;
  display:block;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom: 10%;
}

.bye {
	margin-top: 15%;
	margin-bottom: 10%;
}





@media only screen and (min-width: 600px) {
	
	body {font-size: 2vw;}
	.header {margin-left: 10%;}
	h1 {font-size: 4vw;}
	h2 {font-size: 2vw;} 
	.image img {width: 25%; margin-top: 25%; margin-left: 0%;}
	.grid-container {grid-gap: 5%; padding: 5% 15% 5% 15%;}
	.percent {padding: 2% 2% 2% 5%;}
	.arrow-down {margin-left: 65%;}
	.progress {height: 2vw;}
	.progress:after {height: 2vw;}
	.rocket {width: 8%; margin-left: 64%; margin-top: -4.3vw;}
	.wrap1, .wrap2 {width: 80%; margin-left: 7.5%;}
	.bye {margin-top: 20%;margin-left: 7.5%;}
}





@media only screen and (min-width: 960px) {
	body {font-size: 1.5vw;}
	.header {margin-left: 2%;}
	h1 {font-size: 3vw;}
	h2 {font-size: 1.5vw;} 
	.image img {width: 15%; margin-top: 27.5%; margin-left: 0%;}
	.journey, .speed, .temperature {padding: 1.5vw 0% 0% 2.5vw;}
	.grid-container {grid-template-areas:'one one' 'two three'; grid-gap: 5%; padding: 2% 7.5% 5% 7.5%;}
	.percent {width: 1%; padding: 1% 4.5% 1% 2%; margin-left: 64.7%;}
	.arrow-down {border-left: 1vw solid transparent; border-right: 1vw solid transparent; border-top: 1vw solid #edeef2; margin-left: 67%;}
	.progress {width: 96%; margin-top: 3%;}
	.rocket {width: 5%; margin-left: 65%; margin-top: -3.95vw; margin-bottom: 2%;}
	.wrap1 {width: 62%; margin-left: 12.5%; margin-bottom: 2%}
	.wrap2 {width: 70%; margin-left: 12.5%;}
	.bye h1 {margin-top: 0%; margin-left: 0%;} 
	.bye h2 {margin-left: 0%;}
	.bye {margin-top: 3%; margin-bottom: 5%;}
}





@media only screen and (min-width: 1280px) {
	body {font-size: 1.2vw;}
	.header {margin-left: 5%;}
	h1 {font-size: 2.5vw;}
	h2 {font-size: 1.2vw;} 
	.image img {width: 12.5%; margin-top: 25%;}
	.grid-container {grid-gap: 10%; padding: 2% 10% 5% 10%;}
	.rocket {width: 5.5%; margin-top: -3.93vw;}
	.wrap1 {width: 78%; margin-left: 2%;}
	.wrap2 {width: 96%; margin-left: 2%;}
	.bye {margin-top: 3%; margin-bottom: 5%; margin-left: 10%;}
}





