@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800');

body {
	background-color: #edeef2;
	color: #343a4c;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 4vw;
	font-weight: 800;
}



.header {
	display: flex;
	margin-left: 2.5%;
}
h1 {
	font-size: 7vw;
	margin-bottom: 0%;
	margin-top: 7.5%;
	margin-left: 7.5%;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 800;
}
h2 {
	font-size: 4vw;
	margin-top: 0%;
	margin-left: 7.5%;
	font-weight: 700;
} 
img {
	width: 35%;
	margin-top: 35%;
	margin-left: 10%;
}
.title {
	width: 75%;
}
.image {
	flex: 1;
}



.journey { 
	grid-area: one; 
	padding: 7.5% 5% 0% 10%;
}
.speed { 
	grid-area: two; 
	padding: 7.5% 5% 0% 10%;
}
.temperature { 
	grid-area: three; 
	padding: 7.5% 5% 0% 10%;
}
.grid-container {
	display: grid;
	grid-template-areas:
    	'one'
    	'two'
   		'three';
	grid-gap: 2.5%;
	padding: 7.5%;
}
.grid-container > div {
	background-color: white;
}



.percent {
	background-color: #edeef2;
	width: 10%;
	padding: 2% 5% 2% 3%;
	margin-left: 60%;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #edeef2;
  margin-left: 66%;
}
.progress {
    background: #edeef2;
    border-radius: 1000px;
    height: 4vw;
    width: 95%;
    margin-top: 5%;
}
.progress:after {
    content: '';
    display: block;
    background-image: linear-gradient(to right, #ff0084, #7641ff, #1fa5ff);
    width: 70%;
    height: 4vw;
    border-radius: 1000px;
}
.rocket {
	width: 35%;
	transform: rotate(90deg);
	margin-left: 56%;
	margin-top: -7vw;
}



p {
	float: right;
	margin-right: 5%;
	margin-bottom: 0%;
}
.wrapper {
  height: 10%;
  width: 95%;
  display:block;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom: 10%;
}

.bye {
	margin-top: 15%;
	margin-bottom: 10%;
}